footer {
    display: grid;
    place-items: center;
    height: 70px;
    background: grey;
    margin-top: 20px;
    align-items: center;
}

.card-body a {
    text-decoration: none;
    background: rgb(118, 118, 248);
    border-radius: 5px;
    color: white;
    padding: 10px;
}